<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CHCT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="CHCT.Properties.Settings.CharConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Char.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CHCT.Properties.Settings>
            <setting name="b_HighLightFontChar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b_OutputAllPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b_OutputSeparate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b_OutputFontSupported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_OutputSeparate" serializeAs="String">
                <value/>
            </setting>
            <setting name="s_FontDefaultA" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_FontDefaultB" serializeAs="String">
                <value>HanaMinB</value>
            </setting>
            <setting name="s_ComboRegularFont" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_ComboCharBlockFont" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_ComboFilterFont" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_ComboFilterBtnFont" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_ComboPartFont" serializeAs="String">
                <value>新細明體</value>
            </setting>
            <setting name="s_Phoenics1" serializeAs="String">
                <value>無</value>
            </setting>
            <setting name="s_Phoenics2" serializeAs="String">
                <value>無</value>
            </setting>
            <setting name="s_Phoenics3" serializeAs="String">
                <value>無</value>
            </setting>
            <setting name="s_PhoenicsBG1" serializeAs="String">
                <value>Lavender</value>
            </setting>
            <setting name="s_PhoenicsBG2" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="s_PhoenicsBG3" serializeAs="String">
                <value>PapayaWhip</value>
            </setting>
            <setting name="i_SearchHistory" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="i_FontSizeFilterTitle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="i_FontSizeFilterCharBtn" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="i_FontSizeFilterClrBtn" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="i_FontSizeCharBlock" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="i_FontSizeOutput" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="b_DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </CHCT.Properties.Settings>
    </userSettings>
</configuration>
